
$finalHeight: 400px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;


root {
  display: inline;
  width: 10px;
  height: 10px;
}

.cardsScroll {
  height: 30%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin:10% auto;
}
 /* 
.cardsScroll {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc(#{$finalHeight} + #{$scrollBarHeight});
  max-height: $finalWidth;
  margin: 0 auto;
  padding-top: $scrollBarHeight;
  overflow-x: auto;
  overflow-y: hidden;
  transform-origin: right top;
  margin-left: 200px;
transform: rotate(-90deg)  translateY(-$finalHeight);
 

}

 */

.cardsScroll root {
  display: inline;
  width: 100px;
  height: 100px;
}