
$finalHeight: 800px;
$finalWidth: 3 * $finalHeight;
$scrollBarHeight: 1px;





.cardsScroll {
  height: 500px;
  overflow-x: scroll;
  overflow-y:visible;
  white-space: nowrap;
  padding-top: 20%;
}

.MuiPaper-root:not(:first-child) {
  margin-left: -40px; 
 
}

  .MuiPaper-root:nth-child(n):hover {
    
    margin-right: 60px;
    transition: all .1s ease-in;
    
  }

  .MuiPaper-root:nth-child(n){
    
    transition: all .1s ease-in;
    
  }


 /* 
.cardsScroll {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: calc(#{$finalHeight} + #{$scrollBarHeight});
  max-height: $finalWidth;
  margin: 0 auto;
  padding-top: $scrollBarHeight;
  overflow-x: auto;
  overflow-y: hidden;
  transform-origin: right top;
  margin-left: 200px;
transform: rotate(-90deg)  translateY(-$finalHeight);
 

}

 */

